@page "/"

<h1>Hello!</h1>

<p>Welcome to your new Restaurant Reservations Manager.</p>
<p>Use the "Add Reservations" page to add, edit, and delete reservations.</p>
<p>The "Reservations" page displays all current reservations for the restaurant.</p>
<p>See the ReadMe for more info</p>
